%%--------------------------------------------------------------------
%% [Rewrite](https://github.com/emqtt/emqttd/wiki/Rewrite)
%%--------------------------------------------------------------------
[
  {emq_mod_rewrite, [
    {rules, [
      %% {rewrite, Topic, Re, Dest}
      
      %% Example: x/y/ -> z/y/
      %% {rewrite, "x/#", "^x/y/(.+)$", "z/y/$1"},

      %% {rewrite, "y/+/z/#", "^y/(.+)/z/(.+)$", "y/z/$2"}
    ]}
  ]}
].

